---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
import Progitem from "../components/progitem.astro";

import KillData from "../components/KillData.astro";
import RashokData from "../data/rashok2.json";

---

<Layout title="Welcome to Astro.">
	<Banner />

  <div>
    <ul>
      {
        RashokData.map( info => {
          //Creates a new array based on a function for every element*
          const matchedDPS = info.character.spec.role.search(dpsinfo => info.character.spec.role.includes("dps"));
          return matchedDPS;
          return(
            <KillData
              name = {info.character.name}
              role = {info.character.spec.role}
              ilvl = {info.character.itemLevelEquipped}
            />
          )
        })
      }
    </ul>

  </div>
 

</Layout>

<ul>

</ul>

<style>
    h1 {
        font-size: 40px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .mt-3 {
        margin-top: 3rem;
    }
</style>