---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
import Progitem from "../components/progitem.astro";
---

<Layout title="Welcome to Astro.">
	<Banner />
  <section class="container mt-3">
    <Progitem
      profile = "zskarn.png"
      date = "31 july"
      boss = "Zkarn"
      video = "https://www.youtube.com/embed/ZD6GNhAubpQ"
      tanks = "2"
      healers = "4"
      dps = "14"
      log = "https://www.warcraftlogs.com/reports/xM8JFAgtLw1YC2BP#fight=last"
    ></Progitem>
  </section>

</Layout>


<style>
    h1 {
        font-size: 40px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .mt-3 {
        margin-top: 3rem;
    }
</style>